@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: darksalmon;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/* //cajon donde se encuentra la palabra speens y su variacion// */
div {
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}
/* cajon donde se calcula la velocidad inicia en 0  */
input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: none;
    text-align: center;
}
/* este pseudo hace que cuando en input este el foco el click no tenga el delineado (borde en su cuadricula)cuando se incremente la velocidad*/
input:focus {
    outline: none;
}
